h2 {
	color: darkred;
}

.transformationAndTransition {

	width: 200px;
	height: 200px;
	background: #90bade;
	margin: 50px;
}

.transformationAndTransition:hover {

	width: 200px;
	height: 200px;
	background: #2a69a8;

	transform: rotate(20deg);
	transition: all 1s ease-in-out;
}